
/* Variable Colors */

$color-blue : #365C79;
$color-light-blue: #728DA1;
$color-gray: #AEBEC9;
$color-orange: #F47C28;
$color-light-orange: #F7A369;
$color-teal : #FBCBA9;
$color-black: #646464;
$color-light-black: #939393;
$color-white: #fff;
$color-gray: #efefef;

$twitter-color: #3dbfea;
$footer-color:#292d30;